    #Textoprincipal{
                font-size: 40px;
                color:whitesmoke;
                background-color: #444444;
                padding: 10px;
                margin-bottom: 50px;
            }